<div>
  <app-add-todo (addTodo)="addTodo($event)"></app-add-todo>
  <div class="todo-list">
    <div>
      <p class="button-offset">
        <mat-checkbox 
          (change)="onToggleAll()"
          aria-label="Mark all todos as complete">
        </mat-checkbox>
      </p>
    </div>
    <!-- use trackBy option on *ngFor -->
    <!-- https://angular-checklist.io/default/checklist/performance/ZfxFUd -->
    <app-todo-item 
      *ngFor="let todo of todos; trackBy: id" 
      [todo]="todo"
      (deleteTodo)="deleteTodo($event)">
    </app-todo-item>
  </div>
</div>
