<div id="login-page">
  <app-alert></app-alert>
  <mat-card class="login-card" role="login">
    <mat-card-header aria-hidden="true">
      <mat-card-title>Forgot Password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form aria-label="Forgot password form">
        <table cellspacing="0">
          <tr>
            <td>
              <mat-form-field>
                <input matInput placeholder="Email Address" [(ngModel)]="email" name="email" required />
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="sendPasswordResetEmail()" color="primary">
        Reset Password
      </button>
    </mat-card-actions>
  </mat-card>
</div>
