* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  line-height: 1.4;
}

body.overlay {
  background-color: silver;
  z-index: -1;
}

/* material overrides */

.mat-card-header-text {
  margin: 0 !important; /* override 16px left/right margin */
}

#login-page .mat-form-field-infix {
  width: 22rem !important;
}
